results/SCUT-FBP/pca filter=lfs diff=lfs merge=lfs -text
results/SCUT-FBP/pca_variance filter=lfs diff=lfs merge=lfs -text
results/SCUT-FBP/ filter=lfs diff=lfs merge=lfs -text
results/SCUT-FBP/pca/pca_values_block1_pool.csv filter=lfs diff=lfs merge=lfs -text
results/SCUT-FBP/pca/pca_values_block2_conv2.csv filter=lfs diff=lfs merge=lfs -text
results/SCUT-FBP/pca/pca_values_block5_conv3.csv filter=lfs diff=lfs merge=lfs -text
results/SCUT-FBP/pca/pca_values_fc2.csv filter=lfs diff=lfs merge=lfs -text
results/SCUT-FBP/pca/pca_values_block4_conv2.csv filter=lfs diff=lfs merge=lfs -text
results/SCUT-FBP/pca/pca_values_block3_conv2.csv filter=lfs diff=lfs merge=lfs -text
results/SCUT-FBP/pca/pca_values_block3_conv3.csv filter=lfs diff=lfs merge=lfs -text
results/SCUT-FBP/pca/pca_values_block3_pool.csv filter=lfs diff=lfs merge=lfs -text
results/SCUT-FBP/pca/pca_values_block4_pool.csv filter=lfs diff=lfs merge=lfs -text
results/SCUT-FBP/pca/pca_values_block1_conv1.csv filter=lfs diff=lfs merge=lfs -text
results/SCUT-FBP/pca/pca_values_block1_conv2.csv filter=lfs diff=lfs merge=lfs -text
results/SCUT-FBP/pca/pca_values_block2_conv1.csv filter=lfs diff=lfs merge=lfs -text
results/SCUT-FBP/pca/pca_values_block2_pool.csv filter=lfs diff=lfs merge=lfs -text
results/SCUT-FBP/pca/pca_values_block5_conv1.csv filter=lfs diff=lfs merge=lfs -text
results/SCUT-FBP/pca/pca_values_block5_conv2.csv filter=lfs diff=lfs merge=lfs -text
results/SCUT-FBP/pca/pca_values_fc1.csv filter=lfs diff=lfs merge=lfs -text
results/SCUT-FBP/pca/pca_values_flatten.csv filter=lfs diff=lfs merge=lfs -text
results/SCUT-FBP/pca/pca_values_input_1.csv filter=lfs diff=lfs merge=lfs -text
results/SCUT-FBP/pca/pca_values_block3_conv1.csv filter=lfs diff=lfs merge=lfs -text
results/SCUT-FBP/pca/pca_values_block4_conv1.csv filter=lfs diff=lfs merge=lfs -text
results/SCUT-FBP/pca/pca_values_block4_conv3.csv filter=lfs diff=lfs merge=lfs -text
results/SCUT-FBP/pca/pca_values_block5_pool.csv filter=lfs diff=lfs merge=lfs -text
